
  <% @visits.each do |visit| %>
    <p><br><b>Follower : </b><%=visit["follower"].username%></p>
    <% if visit["visits"].present? %>
    <table width="80%" cellpadding="5" cellspacing="5" border=1>
        <tr>
          <th height="30" width="30%">Landing Page</th>
          <th width="30%">Referrer</th>
          <th width="30%">Clicks</th>
        </tr>
      <% visit["visits"].each do |visit| %>
        <tr>
          <td height="30" width="30%"><%=visit["landing_page"]%></td>
          <td width="30%"><%=visit["referrer"].present? ? visit["referrer"] : "No Referrer" %></td>
          <td width="30%"><%=visit["clicks"]%></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td height="30" align="center" colspan="3">No Visits available</td>
      </tr>
    <% end %>
  </table>
  <% end %>
